body {
    font-family: Arial, sans-serif;
}

.cont {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}
